<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to your SM(insert SM here) Dashboard</title>
  <!-- Link component partial files -->
  <link rel="stylesheet" href="components/all.scss">
  <link rel="stylesheet" href="components/navbar.scss">
  <link rel="stylesheet" href="components/avatar.scss">
</head>
<body>
  <h1>SocialMediaAccounts#show</h1>
  <!-- Other HTML content goes here -->

  <div class="container">
      <div class="back-arrow">&larr; Back</div>
      <div class="vertical-container">
          <div class="box">Overall Dashboard</div>
          <div class="box">Post 1</div>
          <div class="box">Post 2</div>
          <div class="box">Post 3</div>
          <div class="box"> Post 4</div>
      </div>
  </div>
</body>
</html>
