<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to your SM(insert SM here) Dashboard</title>
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href="stylesheets/sm_style.css">
</head>
<body>
  <h1>Welcome to your Dashboard</h1>
  <!-- Other HTML content goes here -->
  <div class="container" style="display: flex;">
      <div class="back-arrow">&larr; Back</div>

      <div class="vertical-container">
          <div class="dashboard-row">Overall Dashboard</div>
          <div class="row">Post 1</div>
          <div class="row">Post 2</div>
          <div class="row">Post 3</div>
          <div class="row">Post 4</div>
      </div>
  </div>
</body>
</html>
