<h2>Add Facebook Login to your webpage</h2>

<!-- Facebook login button -->
<button id="fb-login-btn">Log in with Facebook</button>

<!-- Set the element id for the JSON response -->
<p id="profile"></p>
<p id="profile-picture"></p>
<p id="latest-post-comments"></p>

<script>

    <!-- Add the Facebook SDK for Javascript -->

    (function(d, s, id){
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) {return;}
                          js = d.createElement(s); js.id = id;
                          js.src = "https://connect.facebook.net/en_US/sdk.js";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk')
    );


    window.fbAsyncInit = function() {
        <!-- Initialize the SDK with your app and the Graph API version for your app -->
        FB.init({
                  appId            : '3839146769738510',
                  xfbml            : true,
                  version          : 'v19.0'
                });
        <!-- If you are logged in, automatically get your name and email adress, your public profile information -->
        FB.login(function(response) {
                  if (response.authResponse) {
                       console.log('Welcome!  Fetching your information.... ');
                       // Fetch user's basic information
                       FB.api('/me', {fields: 'name, email, picture'}, function(response) {
                           document.getElementById("profile").innerHTML = "Good to see you, " + response.name + ". I see your email address is " + response.email;

                           // Display user's profile picture
                           var profilePicture = document.createElement("img");
                           profilePicture.src = response.picture.data.url;
                           document.getElementById("profile-picture").appendChild(profilePicture);
                       });

                       // Fetch user's latest post comments
                       FB.api('/me/posts', {fields: 'comments{message}'}, function(response) {
                           console.log('Fetching latest post comments.... ');
                           var latestComments = "";
                           if(response && !response.error) {
                               for(var i = 0; i < response.data.length; i++) {
                                   if(response.data[i].comments) {
                                       for(var j = 0; j < response.data[i].comments.data.length; j++) {
                                           latestComments += response.data[i].comments.data[j].message + "<br>";
                                       }
                                   }
                               }
                           }
                           document.getElementById("latest-post-comments").innerHTML = latestComments;
                       });

                  } else {
                       <!-- If you are not logged in, the login dialog will open for you to login asking for permission to get your public profile and email -->
                       console.log('User cancelled login or did not fully authorize.');
                  }
        });
    };

</script>
