<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="components/all.scss">
  <link rel="stylesheet" href="components/navbar.scss">
  <link rel="stylesheet" href="components/avatar.scss">
  <title>Post Analytics</title>
</head>
<body>
  <div class="container-fluid">
    <div class="post-analytics">
      <div class="emotion-pie"></div>
      <div class="graph"></div>
      <div class="emotion-ranking"></div>
    </div>

    <div class="create">
      <button> New Post </button>
    </div>

    <div class="ai-suggestion">
      <p>Place where to ask for suggestions</p>
    </div>

  </div>
</body>
</html>
