/* Landing Page */

.navigation {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
  width: 100%;
}

.landing-logo {
  display: flex;
  gap: 1rem;
  margin-left: 100px;
  align-items: center;
}

.landing-logo img {
  width: 4rem;
  height: 4rem;
}

.landing-logo h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 1rem 3rem;
  margin-top: -1.6rem;
}

.session {
  gap: 2rem;
}

.menu a:hover {
  color: var(--color-primary);
  transition: all;
}

.menu .signup {
  color: var(--color-primary);
  font-weight: bold;
}
