/* Landing Page */

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 3rem;
}

.landing-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.landing-logo img {
  width: 4rem;
  height: 4rem;
}

.landing-logo h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 1rem 3rem;

}

.session {
  gap: 2rem;
}

.menu a:hover {
  color: var(--color-primary);
  transition: all;
}

.left a:first-child {
  margin-left: -4rem;
}

.menu .signup {
  color: var(--color-primary);
  font-weight: bold;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-color: black;
  border-radius: 40px;
  position: relative; /* Added to position the banner text over the video */
  overflow: hidden; /* Ensures the video does not overflow the container's rounded corners */
}

.banner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-position: center;

}

.banner {
  color: white;
  position: relative; /* Ensures the text appears over the video */
  z-index: 1;
}

.features-container {
  text-align: center;
  margin-top: 4rem;
  width: 89%;
  margin-left: auto;
  margin-right: auto;
}

.features-container .title {
  font-size: 2rem;
  color: var(--color-primary);
  /* Required for positioning the pseudo-element */
}

.cards-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
}

.feature-card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 2rem 3rem 1.2rem 3rem;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-card .image-container {
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-card .image-container img {
  width: 160px;
  height: 150px;
  display: block;
}

.feature-card .first .image-container img {
  width: 200px;
  height: 150px;
  display: block;
}

/* Move card up slightly on hover */
.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card h2, .feature-card p {

}


.pricing-container {
  text-align: center;

  width: 89%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /* Necessary for positioning the line */
}

.pricing-container .title,
.contact-section .title {
  font-size: 2rem;
  color: var(--color-primary);
  /* Required for positioning the pseudo-element */
}

.community-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  margin-top: 2rem;
  transition: all 0.3s ease;
  padding: 2rem 3rem 1.2rem 3rem;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.pricing-card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 2rem 3rem 1.2rem 3rem;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-card p {
  font-size: 40px;
  margin-top: 10px;
}

.pricing-card span {
  font-size: 15px;
  color: var(--color-primary);
}

.pricing-card h2 {
  font-size: 2rem;
  color: var(--color-primary);
  margin-bottom: 1.2rem;
}

.pricing-card .text {
  font-size: 15px;
}

.pricing-card .text-hidden {
  color: white;
  font-size: 15px;
}

.pricing-card button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
}

.contact-container {
  gap: 5rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  margin-top: 2rem;
  transition: all 0.3s ease;
  padding: 2rem 3rem 1.2rem 3rem;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 300px 500px;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}


.contact-container p{
  font-size: 20px;
}

.contact-section {
  text-align: center;

  width: 89%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fas.fa-eye.eye-icon.metric-icon {
  color: var(--color-dark);
}
