.accooounts {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 1.4rem;
  background-color: transparent;
  padding: var(--card-padding);
  border-radius: 15px;
  margin-top: 55px;
  justify-content: space-around;
  cursor: pointer;
  width: 100%;
}
/* Responsive individual account cards */
.accooounts-card {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--card-padding);
  height: 110px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 16px auto; /* Centered horizontally */
}

.accooounts-card:hover {
  box-shadow: none;
}

.settings_cards {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cooooontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* Adjust the gap between cards */
}

/* CSS styles for the cards */
.sard {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Card takes up full width of grid cell */

}

/* Additional styling for card content */
.sard h2 {
  margin-top: 0;
}

.sard p {
  margin-bottom: 0;
}


.settings-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 99px;
}

.delete-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  align-items: center;
}

.connected-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 99px;
  align-items: center;
}

.settings-container h1,
.delete-container h1,
.connected-container h1 {
  text-align: center;
}

.settings-container:hover,
.delete-container:hover,
.connected-container:hover {
  box-shadow: none;
}

.settings-container button,
.delete-container button,
.connected-container button {
  padding: 10px 20px;
  background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
  /* Gradient background */
  color: white;
  border: none;
  border-radius: 31px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.account {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account input[type=password],
.account input[type=text],
.account input[type=email] {
  margin-bottom: 10px;
}

.red {
  color: red;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}
