.accooounts {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 1.4rem;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: 15px;
  margin-top: 126px;
  box-shadow: var(--box-shadow);
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.3s ease;
  max-height: 50.5%;
  overflow-y: auto;
  width: 100%;
  /* margin-left: 20px; */
}
/* Responsive individual account cards */
.accooounts-card {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--card-padding);
  width: 700px; /* Adjusts based on the parent's width */
  height: 110px;
  position: relative;
  cursor: pointer;
  margin: 16px auto; /* Centered horizontally */
  margin-left: 45px;
}
.settings_cards {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 28px; */
  /* margin-top: 100px; */
  /* margin-bottom: 50px; */
  /* margin-left: 262px; */
  width: 474px;
  text-align: center;
}

.cooooontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* Adjust the gap between cards */
}

/* CSS styles for the cards */
.sard {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%; /* Card takes up full width of grid cell */

}

/* Additional styling for card content */
.sard h2 {
  margin-top: 0;
}

.sard p {
  margin-bottom: 0;
}


.arrow-link {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-decoration: none;
  color: #007bff;
}

.arrow-link:hover {
  color: #0056b3;
}
