.container {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: flex-start; /* Align items to the start of the container */
  padding: 20px; /* Add padding for spacing */
}

.back-arrow {
  margin-right: 24px;
  font-weight: bold; /* Make the arrow text bold */
  cursor: pointer; /* Change cursor to indicate interactivity */
}

.vertical-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  margin-left: 20px; /* Add margin to separate from back-arrow */
}

.dashboard-box {
  background-color: #f0f0f0; /* Light gray background */
  padding: 10px;
  margin-bottom: 10px; /* Add margin between boxes */
}

.row {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px; /* Add margin between boxes */
}
